/*Begin your code here*/
/*Requirement 1*/
body{
  margin: 0;
  padding: 0;
  font-size: 16pt;
  font-family: "Raleway", sans-serif;
  background: url(../images/concrete_seamless.png); 
}

/*Requirement 2*/
header{
  background: #fff;
  border-bottom: 3px solid #50C7C7;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*Your  code here again.*/

}

/*Requirement 3*/
.nav_links{
  display: flex;
  flex-direction: column;
  align-items: center;
  /*Your code here again.*/
}


/*Requirement 4*/
.price{
    min-height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*Your code here*/
    /*You must use flex.
    /*Don't forget to vertically and horizontally 
    align the element*/
}

/*Requirement 5*/
.package {
  display: flex;
  flex-direction: column;
  flex-basis: 400px;
  margin: 12px;
  background: #fff;
  border-radius: 7px;
  padding: 0 0 50px 0;
  /*Your code here.*/
  /*Take a look at flex-basis*/

}

/*Requirement 6*/
/**  UNCOMMENT THIS CODE ONCE YOU
/**  HAVE THE SELECTOR*/
.package > header{
  background: #288080;
  border: 2px solid #45ADAD;
  padding: 20px 0;
  border-radius: 7px 7px 0 0;
}


/*Requirement 7*/
.gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  /*Your code here again.*/

}

/*Requirement 8*/
/**  UNCOMMENT THIS CODE ONCE YOU
/**  HAVE THE SELECTOR*/
.gallery > img{
  border: 10px #50C7C7 solid;
  margin: 10px;
  width: 300px;
}


/*Requirement 9*/
#logo{
  display: block;
  animation: logo_grow;
  animation-duration: 15s;
   /*Your code here.*/
 
}

/*Keyframes for animation*/
@-webkit-keyframes logo_grow{
  from{
    opacity: 0;
    width: 25px;
  }
  to {
    opacity: 100;
    width: 420px;
  }
  /*Your code here.*/

}

@keyframes logo_grow{
  from{
    opacity: 0;
    width: 25px;
  }
  to {
    opacity: 100;
    width: 420px;
  }
  /*Your code here.*/

} 

@media screen and (min-width: 850px){

  /*Requirement 10*/
  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*Your code here again.*/  
  }

  /*Requirement 10*/
  .nav_links{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    /*Your code here again.*/  
  }

  /*Requirement 11*/
  .package {
    display: flex;
    flex-direction: column;
    flex-basis: 230px;
    /*Your code here again.*/
  } 
}

/*Requirement 12*/
/*Add media query to handle reduced-motion*/
/*Your code here again.*/ 
@media (prefers-reduced-motion) {
  .animation {
    logo_grow: none;
  }
}


@media print { 
  body{
    background: none;
  }
  nav{
    width: 100%;
  }
  .nav_links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*Your code here again.*/
  }

  .price{
    min-height: 500px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-grow: 1;

  }
    .package {
      border: 2px solid #45ADAD;
      display: flex;
      flex-direction: column;
      flex-basis: 200px;
      /*Your code here again.*/
    } 
    .gallery{
      display: none;
    }

    #gallery{
      display: none;
    }
    /*Your code here*/
    /*You must use flex.
    /*Don't forget to vertically and horizontally 
    align the element*/
}


  /*Requirement 13*/
  /*Requirement 14*/
  /*Requirement 15*/
  /*Requirement 16*/
  /*Requirement 17*/
  /*Requirement 18*/
 
}

